---
name: womblock

services:
  backend:
    build:
      context: ../..
      dockerfile: ./build/Dockerfile
    restart: unless-stopped
    ports:
      - 8081:8080
    healthcheck:
      test: ["CMD", "womblock", "healthcheck"]
    volumes:
      - ./config.yaml:/etc/womblock/config.yaml:ro
