---
name: womblock

services:
  backend:
    build:
      context: ../..
      dockerfile: ./build/Dockerfile
    restart: unless-stopped
    ports:
      - 8081:8080
    healthcheck:
      test: ["CMD", "womblock", "healthcheck"]
    volumes:
      - ./config.yaml:/etc/womblock/config.yaml:ro
  swagger:
    image: swaggerapi/swagger-ui:v5.31.0@sha256:080804ac62c9d5d358662cc6f0db96ba0be76af7af393014a1a1305d967298cc
    restart: always
    environment:
      - SWAGGER_JSON=/opt/swagger.yaml
      - VALIDATOR_URL=none
    volumes:
      - ../../api/openapi.yaml:/opt/swagger.yaml
    ports:
      - 8082:8080
    healthcheck:
      test:
        [
          "CMD",
          "curl",
          "--head",
          "--fail",
          "--user-agent",
          "local-healthcheck",
          "http://localhost:8080",
        ]
