openapi: 3.0.0
info:
  title: wtf-go
  version: 0.1.0
servers:
  - url: "http://localhost:8081/api/v0"
tags:
  - name: Miscellaneous
# No authentication scheme declared
security: []
paths:
  /misc/version:
    get:
      tags:
        - Miscellaneous
      summary: Return the version
      operationId: MiscVersion
      # No security required for this endpoint as it is a public call
      security: []
      responses:
        "200":
          description: Build version returned
          headers:
            x-request-id:
              $ref: "#/components/headers/x-request-id"
          content:
            application/json:
              schema:
                type: object
                required:
                  - go
                  - platform
                  - modified
                properties:
                  go:
                    type: string
                    example: go1.20.3
                    description: Version of the Go toolchain that built the binary
                  platform:
                    type: string
                    example: linux/amd64
                  modified:
                    type: boolean
                    description: True or false indicating whether the source tree had local modifications
                  revision:
                    type: string
                    example: d4e5f6a
                    description: The revision identifier for the current commit or checkout.
                  time:
                    type: string
                    format: date-time
                    example: "2024-10-06T09:25:27Z"
                    description: The modification time associated with revision, in RFC3339 format
  /misc/health:
    get:
      tags:
        - Miscellaneous
      summary: Return the health status of the API
      operationId: MiscHealth
      # No security required for this endpoint as it is a public call
      security: []
      responses:
        "200":
          description: The health status of the API in a basic key-value format.
          headers:
            x-request-id:
              $ref: "#/components/headers/x-request-id"
          content:
            plain/text:
              schema:
                type: string
                example: "Status: OK"
        "503":
          description: The API is currently unavailable
          headers:
            x-request-id:
              $ref: "#/components/headers/x-request-id"
components:
  headers:
    x-request-id:
      description: Unique identifier for the request
      schema:
        type: string
      example: VN66ii7UA5iorydU31NdxsrGjtesi4cewRTiGTsH3Tw
